<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | JEANS APP</title>
  </head>
  <body>
    <h1>About</h1>
    <p>これはJEANS APPのAboutページです</p>
  </body>
</html>
